<td><a href="#jordanhillfc/p4s/players/<%= name %>"><%= firstName %> <%= lastName %></a></td>
<td>
	<div class="btn-group" data-toggle="buttons-radio">
	    <button class="btn" class-toggle="btn-success" onclick="toggleButtonClicked(this)">Yes</button>
	    <button class="btn btn-danger active" class-toggle="btn-danger" onclick="toggleButtonClicked(this)">No</button>
	</div>
</td>
<td><% if (mobile) { %><a href="tel:<%= mobile %>" class="btn btn-primary"><%= mobile %></a><% } %></td>
<td><%= allergies %></td>
<td><%= notes %></td>
